@inherits ManageTableBase
@page "/ManageTable"
@attribute [Authorize(Roles = "Admin")]

<button @onclick="@ShowNewTable" class="btn btn-primary">Create New Table </button>

<hr/>

<TableList @ref="ChildComponent"/>