@inherits EditNotesBase

<EditForm Model="@EditNotesModel" OnSubmit="@EditNotes">
    @if (ShowErrors)
    {
        <div class="alert alert-danger" role="alert">
            @foreach (var error in Errors)
            {
                <p>@error</p>
            }
        </div>
    }
    <hr />
    <div class="form-group row">
        <div class="col-sm-9">
            <InputText class="form-control" placeholder="Notes"
                         @bind-Value="@EditNotesModel.CurrentNote" />
        </div>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-primary" Value="Confirm" />
        <button @onclick="BlazoredModal.Cancel" class="btn btn-danger">Cancel</button>
    </div>
</EditForm>
