@inherits JoinTableBase

<EditForm Model="@JoinTableModal" OnSubmit="@HandleSubmit">
    <ValidationSummary />
    @if (ShowErrors)
    {
        <div class="alert alert-danger" role="alert">
            @foreach (var error in Errors)
            {
                <p>@error</p>
            }
        </div>
    }
    <hr />
    <div class="form-group row">
        <label for="tableName" class="col-sm-3 col-form-label">
            Amount to deposit
        </label>
        <div class="col-sm-9">
            <InputNumber id="tableName" class="form-control" placeholder="New Table"
                       @bind-Value="JoinTableModal.Amount" />
        </div>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-primary" Value="Confirm" />
        <button @onclick="BlazoredModal.Cancel" class="btn btn-danger">Cancel</button>
    </div>
</EditForm>
