@inherits DisplayTableBase

<div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
    <div class="card-header">
        <h3>
            @Table.Name
        </h3>
    </div>

    <img class="card-img-top imageThumbnail" src="img/tableimg.png"/>
    <div class="card-footer text-center">
        <AuthorizeView Roles="Admin">
            <a href="#" class="btn btn-primary m-1">View</a>

            <a href="#" class="btn btn-primary m-1">Edit</a>

            <button @onclick="@DeleteConfirm" class="btn btn-danger m-1">Delete</button>
        </AuthorizeView>
        <AuthorizeView Roles="User">
            <button @onclick="@JoinTable" class="btn btn-danger m-1">Join Room</button>
        </AuthorizeView>
    </div>
</div>