@inherits LayoutComponentBase

<BlazoredModal />

<div class="sidebar">
    <NavMenu OnChange="@Test"/>
</div>

<div class="main">
    <div class="content px-4 container">
        @Body
    </div>
</div>

@code
{
    void Test()
    {
        Console.WriteLine(1);
        StateHasChanged();
    }
}
