@using Poker.Web.Pages
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        Hello world!
    </div>
</div>

<BlazoredModal />